bin/Debug/GumshoeIM.exe
bin/Debug/GumshoeIM.pdb
bin/Debug/GumshoeIM.vshost.exe
bin/Debug/GumshoeIM.vshost.exe.manifest
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/GumshoeIM.csproj.FileListAbsolute.txt
obj/Debug/GumshoeIM.csproj.GenerateResource.Cache
obj/Debug/GumshoeIM.csprojResolveAssemblyReference.cache
obj/Debug/GumshoeIM.exe
obj/Debug/GumshoeIM.g.resources
obj/Debug/GumshoeIM.pdb
obj/Debug/GumshoeIM.Properties.Resources.resources
obj/Debug/GumshoeIM_MarkupCompile.cache
obj/Debug/GumshoeIM_MarkupCompile.i.cache
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
